.welcome {
  display: flex;
  font-size: 70px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  background-color: aquamarine;

}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}